<a href="https://colab.research.google.com/github/e-jungs2/DartB-24-2/blob/main/%ED%86%A0%EC%9D%B4%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Survey date YYYYMM
* Gender 1 = Male, 2 = Female
* Level of education 1 = elementary school or less, 2 = middle school, 3 = High school, 4 = Bachelors Degree = 5, 6 = Graduate school
*Marriage status 1 = Single, 2 = Married, 3 = Bereavement, 4 = Separated, 5 = Divorce, 6 = Other
* Alcohol drinking 1 = Non-drinker, 2 = formal drinker 3 = regular drinker
* The total period of drinking 1 = 5 years or less, 2 = 6-10 years, 3 = 11-20 years, 4 = > 21 years
*Rice wine drinking frequency 0 = None. 1 = once a month, 2 = two or three times a month, 3= once a week, 4 = 2-3 times a week, 5 = 4-6 times a week, 6 = Everyday
* Amount of Rice wine drink per Drinking () Glass
* Sake drinking frequency 0 = None. 1 = once a month, 2 = two or three times a month, 3= once a week, 4 = 2-3 times a week, 5 = 4-6 times a week, 6 = Everyday
*Amount of Sake drinking at once () Glass
*Wine Drinking Frequency 0 = None. 1 = once a month, 2 = two or three times a month, 3= once a week, 4 = 2-3 times a week, 5 = 4-6 times a week, 6 = Everyday
* Amount of Wine Drinking at one () Glass
* Soju Drinking Frequency 0 = None. 1 = once a month, 2 = two or three times a month, 3= once a week, 4 = 2-3 times a week, 5 = 4-6 times a week, 6 = Everyday
* Amount of soju drinking at once () Glass
* Beer Drinking Frequency 0 = None. 1 = once a month, 2 = two or three times a month, 3= once a week, 4 = 2-3 times a week, 5 = 4-6 times a week, 6 = Everyday
* Amount of Beer drinking at once () Bottle
* Spirits Drinking Frequency 0 = None. 1 = once a month, 2 = two or three times a month, 3= once a week, 4 = 2-3 times a week, 5 = 4-6 times a week, 6 = Everyday
* Amount of spirits drinking () Shot
* Smoking status 1 = non-smoker, 2 = formal smoker, 3 = regular smoker
* Smoking starting age () years old
* The total duration of Smoking in Total () years
* Amount of smoking per day () pack
* Secondhand smoke 1 = no; 2 = yes
* Frequent high intensity exercise 1 = no; 2 = yes
* Hypertension history 1 = no; 2 = yes
* Age when first diagnosed with hypertension ()years old
* Diagnosed with Diabetes 1 = no; 2 = yes
* Age when diagnosed with diabetes ()years old
* Diagnosed with Hyperlipidemia 1 = no; 2 = yes
* Age when diagnosed with hyperlipidemia ()years old
* Family history of hypertension (father) 1 = no; 2 = yes
* Age when father was first diagnosed with hypertentsion ()years old
* Family history of hypertension (mother) 1 = no; 2 = yes
* Age when mother was first diagnosed with hypertentsion ()years old
* Family history of diabetes (father) 1 = no; 2 = yes
* Age when father was first diagnosed with diabetes ()years old
* Family history of diabetes (mother) 1 = no; 2 = yes
* Age when mother was first diagnosed with diabetes ()years old
* Menarche age ()years old
* Pregnancy experience 1 = no; 2 = yes
* Age at first pregnancy ()years old
* Childbirth 1 = no and 2 = yes
* Age at first childbirth ()years old
* Menopause 1 = no; 2 = yes
* Menopaused age ()years old
* Height () cm
* Weight () kg
* The average waist circumference () cm
* The average hip circumference () cm
* Average heart rate () Times / min.
* Systolic blood pressure () mmHg
* Diastolic blood pressure () mmHg
* HbA1C ()%
* Fasting Glucose () mg / dL
* Creatinine () mg / dL
* AST () IU / L
* ALT () IU / L
* Total Cholesterol () mg / dL
* HDL-Cholesterol () mg / dL
* Triglyceride () mg / dL
* Fasting Insulin () µIU / mL

[**Code** 66666: Not surveyed; 77777: Not applicable; 99999: Unknown/Not answered/Not measured]

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
df1 = pd.read_csv('/content/drive/MyDrive/다트비/토이프로젝트(1)-한국인건강데이터/원시데이터/follow_01_data.csv')
display(df1)

,T00_ID,T00_DATA_CLASS,T01_EDATE,T00_SEX,T01_AGE,T01_EDU,T01_MARRY,T01_DRINK,T01_DRDU,T01_TAKFQ,...,T01_DBP,T01_HBA1C,T01_GLU0,T01_CREATININE,T01_AST,T01_ALT,T01_TCHL,T01_HDL,T01_TG,T01_INS0
0,K_FOLLOW_0001,F05,200412,1,56,1,2,3,4,0,...,80,5.6,82,0.7,30,38,154,35,126,6.7
1,K_FOLLOW_0002,F19,200401,1,40,3,2,3,4,0,...,118,5.5,130,1.1,46,75,214,44,169,4.3
2,K_FOLLOW_0003,F05,200309,1,52,2,2,2,3,0,...,90,5.2,83,0.9,29,45,130,27,134,7.9
3,K_FOLLOW_0004,F05,200504,2,60,2,2,1,77777,0,...,90,5.6,89,0.6,35,34,182,47,123,12.6
4,K_FOLLOW_0005,F19,200402,1,49,3,2,3,4,0,...,79,6.9,95,1.0,52,33,203,36,277,2.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,K_FOLLOW_0996,F05,200507,1,64,1,2,1,77777,0,...,61,5.7,75,1.0,24,17,151,36,176,6.3
996,K_FOLLOW_0997,F18,200411,1,63,3,2,3,2,0,...,91,66666.0,96,1.1,21,18,149,33,114,11.7
997,K_FOLLOW_0998,F19,200401,1,41,5,2,3,4,0,...,65,5.6,89,0.9,23,26,273,36,83,8.7
998,K_FOLLOW_0999,F11,200501,2,69,1,2,3,4,0,...,93,66666.0,88,0.9,22,13,206,43,210,66666.0
999,K_FOLLOW_1000,F19,200311,2,45,2,2,1,77777,0,...,76,5.6,84,0.7,29,45,239,44,174,10.8

Warning: Total number of columns (64) exceeds max_columns (20) limiting to first (20) columns.

In [6]:
df2 = pd.read_csv('/content/drive/MyDrive/다트비/토이프로젝트(1)-한국인건강데이터/원시데이터/follow_02_data.csv')
display(df2)

,T00_ID,T00_DATA_CLASS,T02_EDATE,T02_AGE,T02_MARRY,T02_DRINK,T02_TAKFQ,T02_TAKAM,T02_RICEFQ,T02_RICEAM,...,T02_DBP,T02_HBA1C,T02_GLU0,T02_CREATININE,T02_AST,T02_ALT,T02_TCHL,T02_HDL,T02_TG,T02_INS0
0,K_FOLLOW_0001,F05,200609,58,66666,2,0,77777.0,0,77777.0,...,70,99999.0,90,99999.0,17,14,202,40,118,4.2
1,K_FOLLOW_0002,F19,200510,41,2,3,0,77777.0,0,77777.0,...,86,6.4,99999,1.1,91,123,200,42,180,99999.0
2,K_FOLLOW_0003,F05,200505,54,66666,3,0,77777.0,0,77777.0,...,92,99999.0,90,1.2,33,38,141,31,93,11.1
3,K_FOLLOW_0004,F05,200704,62,66666,1,0,77777.0,0,77777.0,...,88,99999.0,106,0.7,20,17,194,53,109,18.8
4,K_FOLLOW_0005,F19,200601,51,2,3,0,77777.0,0,77777.0,...,79,99999.0,124,1.1,25,12,148,43,155,99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,K_FOLLOW_0996,F05,200705,66,66666,1,0,77777.0,0,77777.0,...,90,99999.0,97,99999.0,35,23,189,37,150,1.9
981,K_FOLLOW_0997,F18,200606,65,2,3,0,77777.0,0,77777.0,...,79,66666.0,95,1.0,23,21,189,37,104,6.3
982,K_FOLLOW_0998,F19,200510,43,2,3,0,77777.0,0,77777.0,...,66,99999.0,92,0.9,25,17,223,40,90,6.8
983,K_FOLLOW_0999,F11,200608,71,2,2,0,77777.0,0,77777.0,...,83,66666.0,81,1.0,33,19,201,36,155,66666.0
984,K_FOLLOW_1000,F19,200507,47,2,1,0,77777.0,0,77777.0,...,71,99999.0,88,0.9,17,19,290,64,127,99999.0

In [7]:
df3 = pd.read_csv('/content/drive/MyDrive/다트비/토이프로젝트(1)-한국인건강데이터/원시데이터/follow_03_data.csv')
display(df3)

,T00_ID,T00_DATA_CLASS,T03_EDATE,T03_AGE,T03_MARRY,T03_DRINK,T03_TAKFQ,T03_TAKAM,T03_RICEFQ,T03_RICEAM,...,T03_DBP,T03_HBA1C,T03_GLU0,T03_CREATININE,T03_AST,T03_ALT,T03_TCHL,T03_HDL,T03_TG,T03_INS0
0,K_FOLLOW_0001,F05,200909,61,2,2,0,77777.0,0,77777,...,69,5.8,96,0.9,18,14,190,35,111,12.0
1,K_FOLLOW_0002,F19,200810,44,2,3,0,77777.0,0,77777,...,82,5.5,99999,1.0,31,33,147,39,320,99999.0
2,K_FOLLOW_0003,F05,200806,57,2,3,0,77777.0,0,77777,...,92,5.0,81,1.1,27,32,144,26,122,10.5
3,K_FOLLOW_0004,F05,201005,65,2,1,0,77777.0,0,77777,...,86,6.1,95,0.7,33,36,169,34,111,14.2
4,K_FOLLOW_0005,F19,200901,54,2,3,0,77777.0,0,77777,...,82,7.3,132,1.1,27,14,169,46,125,7.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,K_FOLLOW_0996,F05,201006,69,2,1,0,77777.0,0,77777,...,90,5.6,90,1.2,30,22,184,40,152,2.8
949,K_FOLLOW_0997,F18,200909,68,2,3,1,1.0,0,77777,...,70,66666.0,90,1.0,20,16,154,46,80,66666.0
950,K_FOLLOW_0998,F19,200809,46,2,3,0,77777.0,0,77777,...,77,5.2,88,0.9,24,15,220,40,70,7.0
951,K_FOLLOW_0999,F11,201003,74,2,1,0,77777.0,0,77777,...,90,66666.0,93,1.1,24,18,133,54,119,66666.0
952,K_FOLLOW_1000,F19,200808,50,2,1,0,77777.0,0,77777,...,70,5.7,82,0.9,19,12,215,42,138,4.6

In [8]:
df4 = pd.read_csv('/content/drive/MyDrive/다트비/토이프로젝트(1)-한국인건강데이터/원시데이터/follow_04_data.csv')
display(df4)

,T00_ID,T00_DATA_CLASS,T04_EDATE,T04_AGE,T04_MARRY,T04_DRINK,T04_TAKFQ,T04_TAKAM,T04_RICEFQ,T04_RICEAM,...,T04_DBP,T04_HBA1C,T04_GLU0,T04_CREATININE,T04_AST,T04_ALT,T04_TCHL,T04_HDL,T04_TG,T04_INS0
0,K_FOLLOW_0001,F05,201208,64,2,2,0,77777.0,0,77777,...,70,5.9,92,1.1,24,29,179,28,139,6.5
1,K_FOLLOW_0002,F19,201110,47,2,3,0,77777.0,0,77777,...,88,6.7,131,1.0,70,145,161,42,306,14.6
2,K_FOLLOW_0003,F05,201106,60,2,3,0,77777.0,0,77777,...,89,5.7,92,1.3,24,24,154,33,139,11.7
3,K_FOLLOW_0004,F05,201304,68,3,1,0,77777.0,0,77777,...,84,5.4,106,0.7,32,29,177,34,137,15.7
4,K_FOLLOW_0005,F19,201111,57,2,3,0,77777.0,0,77777,...,80,10.0,193,1.1,52,24,192,35,241,9.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,K_FOLLOW_0996,F05,201304,72,2,1,0,77777.0,0,77777,...,86,5.2,102,1.3,20,14,207,32,155,6.9
895,K_FOLLOW_0997,F18,201311,72,2,3,0,77777.0,0,77777,...,84,66666.0,86,1.1,24,19,173,64,59,66666.0
896,K_FOLLOW_0998,F19,201111,49,2,3,0,77777.0,0,77777,...,85,5.3,91,0.9,33,22,240,41,217,7.9
897,K_FOLLOW_0999,F11,201310,78,2,1,0,77777.0,0,77777,...,82,66666.0,96,1.0,29,19,216,62,88,66666.0
898,K_FOLLOW_1000,F19,201107,53,2,1,0,77777.0,0,77777,...,63,5.9,86,0.9,43,44,251,42,176,5.0

In [9]:
df5 = pd.read_csv('/content/drive/MyDrive/다트비/토이프로젝트(1)-한국인건강데이터/원시데이터/follow_05_data.csv')
display(df5)

,T00_ID,T00_DATA_CLASS,T05_EDATE,T05_AGE,T05_MARRY,T05_DRINK,T05_TAKFQ,T05_TAKAM,T05_RICEFQ,T05_RICEAM,...,T05_DBP,T05_HBA1C,T05_GLU0,T05_CREATININE,T05_AST,T05_ALT,T05_TCHL,T05_HDL,T05_TG,T05_INS0
0,K_FOLLOW_0001,F05,201510,67,2,1,0,77777.0,0,77777,...,69,5.8,85,0.9,24,21,190,29,81,8.8
1,K_FOLLOW_0002,F19,201410,50,2,3,0,77777.0,0,77777,...,82,6.1,142,1.0,68,77,153,40,180,10.9
2,K_FOLLOW_0003,F05,201406,63,2,3,1,2.0,0,77777,...,86,5.5,92,1.1,30,27,133,26,177,3.8
3,K_FOLLOW_0005,F19,201412,60,2,3,0,77777.0,0,77777,...,80,9.4,185,1.1,95,39,167,35,226,10.6
4,K_FOLLOW_0007,F05,201509,59,2,1,0,77777.0,0,77777,...,80,5.6,104,0.8,19,12,199,50,59,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693,K_FOLLOW_0993,F05,201505,74,3,2,0,77777.0,0,77777,...,63,6.2,111,0.7,25,22,173,40,79,29.1
694,K_FOLLOW_0995,F19,201412,55,2,3,0,77777.0,0,77777,...,69,5.3,94,1.0,27,23,221,63,134,5.8
695,K_FOLLOW_0996,F05,201605,75,2,1,0,77777.0,0,77777,...,76,5.7,111,1.5,26,18,199,34,129,10.9
696,K_FOLLOW_0998,F19,201410,52,2,3,0,77777.0,0,77777,...,76,4.9,93,0.8,22,17,269,41,141,11.8
697,K_FOLLOW_1000,F19,201410,56,2,1,0,77777.0,0,77777,...,71,6.0,84,0.8,22,28,246,37,282,17.0

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 64 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   T00_ID          1000 non-null   object
 1   T00_DATA_CLASS  1000 non-null   object
 2   T01_EDATE       1000 non-null   int64
 3   T00_SEX         1000 non-null   int64
 4   T01_AGE         1000 non-null   int64
 5   T01_EDU         1000 non-null   int64
 6   T01_MARRY       1000 non-null   int64
 7   T01_DRINK       1000 non-null   int64
 8   T01_DRDU        1000 non-null   int64
 9   T01_TAKFQ       1000 non-null   int64
 10  T01_TAKAM       1000 non-null   float64
 11  T01_RICEFQ      1000 non-null   int64
 12  T01_RICEAM      1000 non-null   float64
 13  T01_WINEFQ      1000 non-null   int64
 14  T01_WINEAM      1000 non-null   float64
 15  T01_SOJUFQ      1000 non-null   int64
 16  T01_SOJUAM      1000 non-null   float64
 17  T01_BEERFQ      1000 non-null   int64
 18  T01_BEERAM      1000 non-null   float64
 19  T01_HLIQFQ      1000 non-null   int64
 20  T01_HLIQAM      1000 non-null   float64
 21  T01_SMOKE       1000 non-null   int64
 22  T01_SMAG        1000 non-null   int64
 23  T01_SMDU        1000 non-null   float64
 24  T01_SMAM        1000 non-null   float64
 25  T01_PSM         1000 non-null   int64
 26  T01_EXER        1000 non-null   int64
 27  T01_HTN         1000 non-null   int64
 28  T01_HTNAG       1000 non-null   int64
 29  T01_DM          1000 non-null   int64
 30  T01_DMAG        1000 non-null   int64
 31  T01_LIP         1000 non-null   int64
 32  T01_LIPAG       1000 non-null   int64
 33  T01_FMFHT       1000 non-null   int64
 34  T01_FMFHTAG     1000 non-null   int64
 35  T01_FMMHT       1000 non-null   int64
 36  T01_FMMHTAG     1000 non-null   int64
 37  T01_FMFDM       1000 non-null   int64
 38  T01_FMFDMAG     1000 non-null   int64
 39  T01_FMMDM       1000 non-null   int64
 40  T01_FMMDMAG     1000 non-null   int64
 41  T01_MNSAG       1000 non-null   int64
 42  T01_PREG        1000 non-null   int64
 43  T01_FPREGAG     1000 non-null   int64
 44  T01_CHILD       1000 non-null   int64
 45  T01_FLABAG      1000 non-null   int64
 46  T01_PMYN_C      1000 non-null   int64
 47  T01_PMAG_C      1000 non-null   int64
 48  T01_HEIGHT      1000 non-null   int64
 49  T01_WEIGHT      1000 non-null   int64
 50  T01_WAIST       1000 non-null   int64
 51  T01_HIP         1000 non-null   int64
 52  T01_PULSE       1000 non-null   int64
 53  T01_SBP         1000 non-null   int64
 54  T01_DBP         1000 non-null   int64
 55  T01_HBA1C       1000 non-null   float64
 56  T01_GLU0        1000 non-null   int64
 57  T01_CREATININE  1000 non-null   float64
 58  T01_AST         1000 non-null   int64
 59  T01_ALT         1000 non-null   int64
 60  T01_TCHL        1000 non-null   int64
 61  T01_HDL         1000 non-null   int64
 62  T01_TG          1000 non-null   int64
 63  T01_INS0        1000 non-null   float64
dtypes: float64(11), int64(51), object(2)
memory usage: 500.1+ KB

In [11]:
df1.describe()

,T01_EDATE,T00_SEX,T01_AGE,T01_EDU,T01_MARRY,T01_DRINK,T01_DRDU,T01_TAKFQ,T01_TAKAM,T01_RICEFQ,...,T01_DBP,T01_HBA1C,T01_GLU0,T01_CREATININE,T01_AST,T01_ALT,T01_TCHL,T01_HDL,T01_TG,T01_INS0
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,200403.853000,1.558000,54.334000,702.283000,402.106000,701.955000,41478.984000,1300.120000,73788.281100,1200.032000,...,80.674000,21203.671100,1289.197000,0.87640,27.649000,25.590000,191.714000,44.698000,254.719000,13472.773400
std,68.758644,0.496873,9.023517,8341.161821,6314.854935,8341.189331,39837.974579,11332.939778,17986.729181,10893.860637,...,10.777935,31059.203068,10884.048894,0.18373,10.472893,15.599976,34.520572,9.948657,3158.951468,27513.641543
min,200301.000000,1.000000,40.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.700000,0.000000,...,54.000000,1.000000,59.000000,0.50000,12.000000,6.000000,95.000000,19.000000,38.000000,0.200000
25%,200312.000000,1.000000,46.000000,1.000000,2.000000,1.000000,4.000000,0.000000,77777.000000,0.000000,...,73.000000,5.500000,79.000000,0.70000,22.000000,17.000000,167.000000,37.750000,94.000000,5.700000
50%,200408.000000,2.000000,54.000000,2.000000,2.000000,2.000000,77777.000000,0.000000,77777.000000,0.000000,...,80.000000,5.800000,86.000000,0.90000,25.000000,21.000000,190.000000,44.000000,130.000000,8.000000
75%,200412.000000,2.000000,62.000000,3.000000,2.000000,3.000000,77777.000000,0.000000,77777.000000,0.000000,...,89.000000,66666.000000,95.000000,1.00000,30.000000,29.000000,213.000000,50.000000,183.250000,12.825000
max,200512.000000,2.000000,74.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,...,121.000000,66666.000000,99999.000000,2.30000,158.000000,249.000000,339.000000,86.000000,99999.000000,99999.000000

In [21]:
smoke_value = df1['T01_SMOKE'].value_counts()
smoke_value

T01_SMOKE
1        628
3        192
2        171
99999      9
Name: count, dtype: int64

In [22]:
print(df1.isnull().sum())

T00_ID            0
T00_DATA_CLASS    0
T01_EDATE         0
T00_SEX           0
T01_AGE           0
                 ..
T01_ALT           0
T01_TCHL          0
T01_HDL           0
T01_TG            0
T01_INS0          0
Length: 64, dtype: int64


결측치 안 잡힘..

In [31]:
df1.replace([66666, 77777, 99999, 66666.0, 77777.0, 99999.0], np.nan, inplace=True)

In [32]:
display(df1.isnull().sum())

T00_ID              0
T00_DATA_CLASS      0
T01_EDATE           0
T00_SEX             0
T01_AGE             0
                 ...
T01_ALT             0
T01_TCHL            0
T01_HDL             0
T01_TG              1
T01_INS0          196
Length: 64, dtype: int64